:root {
    --main-font: 'Playfair Display', Cambria, Cochin, Georgia, Times,
    'Times New Roman', serif;
    --description-font: 'Ubuntu', Arial, Helvetica, sans-serif;
    --text-color: rgb(98, 98, 98);
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.container {
    font-family: var(--main-font);
    color: var(--text-color);
    width: 900px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.2;
    padding: 0;
}

header {
    /* 77px -(24px-11px)/2 = 70px */
    padding-top: 70px;
    /* 103px -(24px-11px)/2 = 96px */
    padding-bottom: 96px;
}

/* decor   */
.link {
    text-decoration: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    display: block;
}

.description {
    display: block;
    font-family: var(--description-font);
    text-transform: uppercase;
    font-weight: 300;
    color: rgb(180, 173, 158);
    /* 32px - (17px - 10px)/2 - (36px - 22px)/2 = 21 px  */
    margin-bottom: 21px;
}

.content .picture {
    /* 32px - (17px - 10px)/2 = 28px */
    margin-bottom: 28px;
}

.nav-list,
.content-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-nav .element {
    text-transform: uppercase;
}

.main-nav .link:hover,
.main-nav .link:focus {
    color: rgb(3, 169, 244);
}

.content .title {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    /* padding: 0; */
    /* 45px - (24px -11px)/2 -(36px- 22px)/2 = 31px */
    margin-bottom: 31px;
}

.content .text {
    line-height: 1.7;
    padding: 0;
    margin: 0;
}

.button {
    /* display: flex; */
    padding: 0;
    font-size: 20px;
    line-height: 1.2;
    height: 60px;
    width: 165px;
    border: 1px solid rgb(98, 98, 98);
    /* justify-content: center;
    align-items: center; */
    margin-left: 360px;
    margin-right: 380px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: rgb(3, 169, 244);
    border: 1px solid rgb(3, 169, 244);
}

.content {
    padding-bottom: 70px;
}

/* navigation positioning */

.nav-list {
    display: flex;
    justify-content: center;
    /* margin-left: 165px;
    margin-right: 165px; */
}

.main-nav .link {
    line-height: 1.7;
    padding: 0 30px;
}

.nav-list .element:nth-child(1) {
    margin-right: 60px;
}

.nav-list .element:nth-child(2) {
    margin-right: 42px;
}

.nav-list .element:nth-child(3) {
    margin-right: 34px;
}

/* content positioning */
.content-list {
    display: flex;
    flex-wrap: wrap;
}

.content-list .element {
    flex-basis: calc(50% - 60px);
    margin-right: 60px;
    justify-content: space-between;
    flex-grow: 0;
    /* 135px - (24px - 11px)/2 = 128px*/
    margin-bottom: 128px;
}

.content-list .element:nth-child(2n) {
    margin-right: 0;
}

.content-list .element:nth-last-child(-n + 2) {
    /* margin-bottom: 0;
    /* 57px - (24px - 11px)/2 = 50px  */
    margin-bottom: 50px;
}
